<html>
    <head>
        <title>🌟 starl1ght</title>
        <script defer src="{{url}}/star.js"></script>
        <script defer src="r1.js"></script>
        <style>
            body {
                background-color: #000;
                color: #ffffff;
                font-family: monospace;
                font-size: 1.5em;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1> 🌟 <br><b>starl1ght</b><br></h1>
        <h2>the lightweight, privacy-conscious web beacon. </h2>
        <p>weighing just over 500 bytes, starl1ght does not track any personal information.</p>
        <p>-------------------------------------------------------------------------------------------------------</p>
        <h3>Installation is simple:</h3>
        <code>&lt;script defer src="{{url}}/star.js"&gt;&lt;/script&gt;</code>
        <p>-------------------------------------------------------------------------------------------------------</p>
        <h3>Realtime Information</h3>
        <form action="/view">
            <input name="site" id="site" placeholder="Enter domain">
            <button type="submit">View Realtime</button>
        </form>
    </body>
</html>