<html>
    <head>
        <title>🌟 starl1ght</title>
        <script defer src="{{url}}/star.js"></script>
        <script defer src="r1.js"></script>
        <style>
            body {
                background-color: #000;
                color: #ffffff;
                font-family: monospace;
                font-size: 1.5em;
                text-align: center;
            }
        </style>
        <script>
            function refresh() {
                window.location.reload();
            }
            setInterval(refresh, 5000);
        </script>
    </head>
    <body>
        <h1> 🌟 <br><b>starl1ght</b><br></h1><h2>the lightweight, privacy-conscious web beacon. </h2>
        <p>-------------------------------------------------------------------------------------------------------</p>
        <h2>Viewing Statistics for: {{site}}/*</h2>
        <h3>Realtime(120s) Requests: {{currently_browsing}}</h3>
        <h2>Top User-Agents</h2>
        {% for u in ua %}
            <h4>{{u}} -  {{ua[u]}}</h3>
        {% endfor %}
        <h2>Top URLS</h2>
        {% for ref in urls %}
            <h4>{{ref}}: {{urls[ref]}}</h3>
        {% endfor %}
    </body>
</html>